<div class="alert alert-primary" role="alert">
    Total borrowed books in last 30 days: <span style="float: right;"><%=mb%></span>
</div>
<div class="alert alert-primary" role="alert">
    Most borrowed book in last 30 days: <span style="float: right;"><%=mbb.title%> by <%=mbb.author%> | Total: <%=mbb.magnitude%> times</span>
</div>
<div class="alert alert-primary" role="alert">
    Most requested book: <span style="float: right;"><%=mrb.title%> by <%=mrb.author%> | Total: <%=mrb.magnitude%> times</span>
</div>